<header class="container fixed bg-black text-white inset-0 max-w-full flex items-center justify-between px-6 h-20">
    <div class="flex items-center w-1/3">
        <a href="{% url 'core:home' %}" class="flex items-center mr-6"><i class="fas fa-home mr-1"></i> Home</a>               

        <form method="get" action="{% url 'core:search' %}" class="w-9/12">
            <input name="search" placeholder="Search" 
                class="search-box border w-full px-5 py-2 font-medium text-gray-900 placeholder-gray-600 rounded-lg shadow-md hover:shadow-lg focus:outline-none"/>
        </form>

        <a href="{% url 'category:categories' %}"  class="flex items-center ml-6"><i class="fas fa-align-justify mr-1"></i>Categories</a> 
    </div>

    <ul class=" flex items-center font-medium h-full">
        {% if user.is_authenticated %}
            <li class="ml-8 border-b-2 border-black hover:border-white h-full flex items-center">
                <a href="{% url 'users:logout' %}" class="py-10 px-5">Log out</a>
            </li>
            <li class="ml-8 border-b-2 border-black hover:border-white h-full flex items-center">
                <a href="{{user.get_absolute_url}}" class="py-10 px-5">Profile</a>
            </li>            
        {% else %}
            <li class="ml-8 border-b-2 border-black hover:border-white h-full flex items-center">
                <a href="{% url 'users:login' %}" class="py-10 px-5">Login</a>
            </li>
            <li class="ml-8 border-b-2 border-black hover:border-white h-full flex items-center">
                <a href="{% url 'users:signup' %}" class="py-10 px-5">Sign up</a>
            </li>
        {% endif %}   
    </ul>    
</header> 

