{% extends 'base.html' %}

{% block page_title %}
    Book_Create
{% endblock page_title %}

{% block content %}    

    <div class="container mx-auto my-10 flex flex-col items-center border p-5 lg:w-5/12 md:w-6/12 xl:w-4/12 " >       
                
        {% include 'mixins/auth/auth_form.html' with form=form cta="update profile" %}
        <!-- #20 MAKE IT ALL BEAUTIFUL Form 에러 처리(부품으로 만들기) 참고 -->

        <div class="mt-5">
            <span class="mr-2">Do you want change password?</span>
            <a href="{% url 'users:password' %}" class="text-teal-500 font-medium">change password</a>
        </div>
    </div>   
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Save">
    </form>

    <a href="{% url 'books:books' %}">back book list</a>
 
{% endblock content %}
