{% extends 'base.html' %}

{% block page_title %}
    Movie_Detail
{% endblock page_title %}

{% block content %} 
    <h2>{{movie.title}}</h2>

    <div>
        <h3>director : {{ movie.director }}</h3>  
        <h3>year : {{ movie.year }} </h3>
        <h3>rating : {{ movie.rating }} </h3>
        <h3>category : {{ movie.category }}</h3>  
        
        {% for cast in  movie.cast.all %}
            <h5>cast : {{ cast }} </h5>  
        {% endfor %}             
                
    </div>    

    <a href="{% url 'movies:update' movie.pk %}">Update movie</a>
    <br/><br/>
    <a href="{% url 'movies:movies' %}">back movies list</a>
 
{% endblock content %}
