{% extends 'base.html' %}

{% load is_favs %}

{% block page_title %}
    Movie_Detail
{% endblock page_title %}

{% block content %} 
    <div class="container mx-auto pb-10">
        <div class=" flex items-center justify-center flex-col w-full">
            <div class=" bg-gray-400 h-8 rounded-md mb-8 w-8/12">
                <a href="{% url 'movies:detail' movie.pk %}" class="h-full w-full flex items-center justify-center">
                <span class="text-gray-800"><i class="fas fa-book-open mr-2"></i>{{movie.title}}</span> 
                </a>
            </div>   
            
            <div class=" flex items-stretch w-8/12 mb-8">
                <div class="w-1/3 flex items-center justify-center bg-gray-400 p-4 rounded-lg">
                    <img src="{{ movie.cover_image.url }}" alt="북커버이미지" >
                </div>

                <div class=" w-2/3 flex flex-col items-stretch justify-items-stretch">
                    <div class="bg-gray-400 rounded-lg ml-6 h-full p-4 flex flex-col justify-around text-2xl">
                        <h3>writer : {{ movie.director }}</h3>  
                        <h3>year : {{ movie.year }} </h3>
                        <h3>rating : {{ movie.rating }} </h3>
                        <h3>category : {{ movie.category }}</h3>  
                        <div class=" mt-4">
                            {% for cast in  movie.cast.all %}
                                <h5 class=" ml-8">cast : {{ cast }} </h5>  
                            {% endfor %}   
                        </div>
                    </div>
                </div>
            </div>      
            <div class="bg-gray-400 rounded-lg p-4 w-8/12 flex items-center justify-around">
                <a href="{% url 'movies:movies' %}"
                    class=" mr-1 font-medium text-xs border border-black text-black rounded py-px px-1">
                    back movies list
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'movies:update' movie.pk %}"
                        class=" mr-1 font-medium text-xs border border-black text-black rounded py-px px-1">
                        Update movie
                    </a>   
                    {% is_favs request.user.pk movie.pk 'movie' as is_favs_bool %}   
                    
                    {% if is_favs_bool %}
                        <span class="mr-1 font-medium text-xs bg-yellow-600  rounded py-px px-1">
                            My Favs Already Taken
                        </span>
                    {% else %}
                        <a href="{% url 'favs:add' request.user.pk %}?tpk={{movie.pk}}&type=movie"
                            class=" mr-1 font-medium text-xs bg-blue-600 text-orange-300 rounded py-px px-1">
                            Add My Favs movie
                        </a>  
                    {% endif %}
                {% endif %}
                    
            </div>
        </div>    
    </div>
 
{% endblock content %}
