{% extends 'base.html' %}

{% block page_title %}
    Movies_Update
{% endblock page_title %}

{% block content %}   
    <div class="container mx-auto my-10 flex flex-col items-center border p-5 lg:w-5/12 md:w-6/12 xl:w-4/12 " >       
            
        {% include 'mixins/auth/auth_form.html' with form=form cta="Movies_Update" %}
        <!-- #20 MAKE IT ALL BEAUTIFUL Form 에러 처리(부품으로 만들기) 참고 -->

        <div class="mt-5">
            <span class="mr-2">Do you want back movies list?</span>
            <a href="{% url 'movies:movies' %}" class="text-teal-500 font-medium">back movies list</a>
        </div>
    </div>    
     
{% endblock content %}
