{% extends 'base.html' %}

{% block page_title %}
    People_Detail
{% endblock page_title %}

{% block content %} 
    <div class="container mx-auto pb-10">
        <div class=" flex items-center justify-center flex-col w-full">
            <div class=" bg-gray-400 h-8 rounded-md mb-8 w-8/12">
                <a href="{% url 'people:detail' person.pk %}" class="h-full w-full flex items-center justify-center">
                <span class="text-gray-800"><i class="fas fa-book-open mr-2"></i>{{person.name}}</span> 
                </a>
            </div>   
            
            <div class=" flex items-stretch w-8/12 mb-8">
                <div class="w-1/3 flex items-center justify-center bg-gray-400 p-4 rounded-lg">
                    <img src="{{ person.photo.url }}" alt="인물이미지" >
                </div>

                <div class=" w-2/3 flex flex-col items-stretch justify-items-stretch">
                    <div class="bg-gray-400 rounded-lg ml-6 h-full p-4 flex flex-col justify-around text-2xl">
                        <h3>name : {{ person.name }}</h3>  
                        <h3>kind : {{ person.kind }} </h3>  
                        <div class=" mt-4 text-xs">                            
                            {% if person.kind == 'actor' %}
                                {% for obj in  person.get_activate_list %}
                                    <h5 class=" ml-8">cast : {{ obj }} </h5>  
                                {% endfor %}                                   
                            {% endif %}

                            {% if person.kind == 'director' %}
                                {% for obj in  person.get_activate_list %}
                                    <h5 class=" ml-8">direct : {{ obj }} </h5>  
                                {% endfor %}                                   
                            {% endif %}

                            {% if person.kind == 'writer' %}
                                {% for obj in  person.get_activate_list %}
                                    <h5 class=" ml-8">write : {{ obj }} </h5>  
                                {% endfor %}                                   
                            {% endif %}                                    
                        </div>                     
                    </div>
                </div>
            </div>      
            <div class="bg-gray-400 rounded-lg p-4 w-8/12 flex items-center justify-around">
                <a href="{% url 'people:people' %}"
                    class=" mr-1 font-medium text-xs border border-black text-black rounded py-px px-1">
                    back People list
                </a>
                <a href="{% url 'people:update' person.pk %}"
                    class=" mr-1 font-medium text-xs border border-black text-black rounded py-px px-1">
                    Update People
                </a>           
            </div>
        </div>    
    </div>     
    
    
        
{% endblock content %}
